.Content {
    text-align: center;
}

.Content h1 {
    font-size: 3em;
    margin: 0.67em 0;
}

.Content p {
    font-size: 1.5em;
    margin: 0.67em 0;
}

.Content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Content li {
    display: flex;
    align-items: center;
    margin: 0.5em;
    font-size: 1.2em;
}

.Content li img {
    height: 1em;
    margin-right: 0.5em;
}

@media screen and (max-width: 640px) {
    .Content h1 {
        font-size: 3em;
    }

    .Content p {
        font-size: 1.5em;
        width: 75%;
    }

    .Content ul {
        flex-direction: row;
    }

    .Content li {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .Content h1 {
        font-size: 3.5em;
    }

    .Content p {
        font-size: 1.75em;
        width: 75%;
    }

    .Content ul {
        flex-direction: row;
    }

    .Content li {
        font-size: 1.35em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .Content h1 {
        font-size: 4em;
    }

    .Content p {
        font-size: 2em;
        width: 75%;
    }

    .Content ul {
        flex-direction: row;
    }

    .Content li {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .Content h1 {
        font-size: 4.5em;
    }

    .Content p {
        font-size: 2.25em;
        width: 75%;
    }

    .Content ul {
        flex-direction: row;
    }

    .Content li {
        font-size: 1.65em;
    }
}

@media screen and (min-width: 1281px) {
    .Content h1 {
        font-size: 5em;
    }

    .Content p {
        font-size: 2.5em;
        width: 50%;
    }

    .Content ul {
        flex-direction: row;
    }

    .Content li {
        font-size: 1.8em;
    }
}
