.WTF {
    font-size: 3250%;
}

.DUDES {
    font-size: 2250%;
}

@media screen and (max-width: 768px) {
    .WTF {
        font-size: max-content;
    }

    .DUDES {
        font-size: max-content - 100px;
    }
}