@font-face {
    font-family: Doodle_Head;
    src: url(fonts/Doodle_Head.ttf);
}

#root {
    font-family: Doodle_Head;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 768px) {
    .LINKS {
        display: none;
    }

    .text-25xl {
        font-size: 5rem;
    }
}