@font-face {
    font-family: Doodle_Head;
    src: url(fonts/Doodle_Head.ttf);
}

@font-face {
    font-family: Doodle;
    src: url(fonts/Doodle.ttf);
}

#root {
    font-family: 'Doodle_Head', 'Doodle';
}

::-webkit-scrollbar {
    display: none;
}